.App {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  border: 10px solid blue;
  margin: 0px;
  padding: 0px;
}

.App-header {
  border: 5px solid red;
  width: 100%;
  background-color: #3e3e3e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  /* padding: 8px 0px 10px 10px; */
  color: #cccccc;
  font-size: 80%;
}

.App-title {
  border: 1px solid white;
  /* padding: 3px 0px 2px 10px; */
  margin: 12px 0px 12px 12px;
}

.App-task {
  border: 1px solid #cccccc;
  padding: 3px 10px 0px 10px;
  margin: 8px 8px 8px 0px;
}

.category {
  border: 5px solid peachpuff;
  display: flex;
  flex-direction: row;
  font-size: 80%;
}

.cat {
  border: 5px solid palevioletred;
  width: 32.5%;
}

.column {
  border: 5px solid green;
  width: 32.5%;
  display: flex;
  justify-content: center;
  padding: .5% 33% .5% 33%;
  /* border-right: 1px solid #cccccc; */
}

/* .columncenter {
  border: 5px solid green;
  width: 33%;
  display: flex;
  justify-content: center;
  padding: .5%;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
} */

.items {
  border: 5px solid cornflowerblue;
  /* border-left: 1px solid #cccccc; */
  /* border-right: 1px solid #cccccc; */
  /* width: 33.2%; */
  display: flex;
  flex-direction: column;
  font-size: 75%;
  margin: 0px;
}

.card {
  border: 1px solid orange;
  background-color: peachpuff;
  padding: 2%;
  margin: 1% 5% 1% 5%;
}

.infostrong {
  border:  5px solid gold;
  font-size: 120%;
  font-weight: bold;
}

.info {
  border: 5px solid gold;
}

.emp {
  border: 5px solid blueviolet;
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
}

.edit {
  border: 5px solid pink;
  color: orange;
  margin: 1%;
}

.worker {
  border: 5px solid red;
  display: flex;
  justify-self: flex-end;
  margin: 1%;
}
