.App {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  /* border: 10px solid blue; */
  margin: 0px;
  padding: 0px;
}

.App-header {
  /* border: 5px solid red; */
  width: 100%;
  background-color: #3e3e3e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  color: #cccccc;
  font-size: 80%;
}

.App-title {
  /* border: 1px solid white; */
  margin: 12px 0px 12px 12px;
}

.App-cards {
  /* border: 1px solid white; */
  margin: 12px 0px 12px 12px;
  color: #cccccc;
}

.App-task {
  border: 1px solid #cccccc;
  padding: 3px 10px 0px 10px;
  margin: 8px 8px 8px 0px;
}

.category {
  /* border: 5px solid orange; */
  display: flex;
  flex-direction: row;
  font-size: 80%;
}

.cat {
  /* border: 5px solid palevioletred; */
  width: 32.5%;
  border-left: 1px solid #3e3e3e;
}

.column {
  /* border: 5px solid green; */
  width: 32.5%;
  display: flex;
  justify-content: center;
  padding: 3% 33% 3% 33%;
  /* border-right: 1px solid #cccccc; */
}

#progresscards {
  border: 1px solid green;
  background-color: rgb(183, 221, 112);
}

#progressedit {
  color: green;
}

#donecards {
  border: 1px solid #3e3e3e;
  background-color: #ffffff;
}

#doneedit {
  color: #3e3e3e;
}

.items {
  /* border: 5px solid cornflowerblue; */
  /* border-left: 1px solid #cccccc; */
  /* border-right: 1px solid #cccccc; */
  /* width: 33.2%; */
  display: flex;
  flex-direction: column;
  font-size: 75%;
  margin: 0px;
}

.card {
  border: 1px solid orange;
  background-color: peachpuff;
  padding: 4%;
  margin: 2% 4% 2% 4%;
}

.infostrong {
  /* border:  5px solid gold; */
  font-size: 120%;
  font-weight: bold;
}

.info {
  /* border: 5px solid gold; */
}

.emp {
  /* border: 5px solid blueviolet; */
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
}

.edit {
  /* border: 5px solid pink; */
  color: orange;
  margin: 1% 4% 1% 0%;
}

.blank {
  /* border: 5px solid greenyellow; */
  /* margin: 1% 28% 1% 28%; */
}

.worker {
  /* border: 5px solid red; */
  display: flex;
  width: 75%;
  justify-content: flex-end;
  /* text-align: right; */
  margin: 1%;
}
